{% extends 'finances/master_template.html' %}

{% block header_extra %}
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <Title>{{object.name}} Account Detail</Title>
{% endblock %}

{% block mymessage %}
<nav class="level is-mobile">
    <div class="level-item has-text-centered">
        <div>
            {% block account_info %}
            <p class="heading">Account</p>
            <p class="title"><a href="/finances/update_account/{{object.pk}}">{{object.name}}</a></p>
            {% endblock %}
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Balance</p>
            <p class="title">{{balance}}</p>
        </div>
    </div>
</nav>
<table class="table">
    <thead>
    <tr>
        <th>One Year Balance {{ one_year_later }}</th>
        <th>Five Year Balance {{ five_years_later }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ one_year_balance }}</td>
        <td>{{ five_year_balance }}</td>
    </tr>
    </tbody>
</table>

<!-- Chart of balance over time-->
<div>
    <canvas id="balanceovertime"></canvas>
</div>
<!-- Table of incomes and expenses-->
<div class="columns">
    <div class="column">
        <p class="title">Deposits</p>
    </div>
    <div class="column">
        <p class="title">Withdrawals</p>
    </div>
</div>
<div class="columns">
    <div class="column">
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
                {% for deposit in deposits %}
                <tr>
                    <td>{{deposit.date}}</td>
                    <td><a href="/finances/update_deposit/{{deposit.pk}}">{{deposit.description}}</a></td>
                    <td>{{deposit.amount}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="column">
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            {% for withdrawal in withdrawals %}
            <tr>
                <td>{{withdrawal.date}}</td>
                <td><a href="/finances/update_withdrawal/{{withdrawal.pk}}">{{withdrawal.description}}</a></td>
                <td>{{withdrawal.amount}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block jsstuff %}
<script>
    const ctx = document.getElementById('balanceovertime');
    var chartmb = new Chart(ctx,
        {
    type: 'scatter'});

$(document).ready(function () {
    // create an AJAX JSON request
    let url = "{% url 'data_projected_account_balance' object.pk %}";
    // console.log(url);
    $.getJSON(url, function(result) {
        chartmb.config.options = result.config.options;
        chartmb.config.data = result.data;
        chartmb.update();
        });
    });
</script>
{% endblock %}