<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <title>Add Expense to {{user.name}}'s Account {{account.name}}</title>
</head>
<body>
<!--Navbar-->
<nav class="level">
  <div class="level-left">
    <p class="level-item">
      <a class="button is-success" href="/finances">HOME</a>
    </p>
    <p class="level-item">
      <a class="button is-success" onclick="history.back()">GO BACK</a>
    </p>
  </div>
</nav>
<!--End Navbar-->
<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <table>
    {% for form in formset %}
    {{form}}
    {% endfor %}
  </table>
  <input class="button" type="submit" value="Submit Form"/>
</form>
<input class="button" type="submit" onclick="add_row()" value="Add Row">
<input class="button" type="submit" onclick="delete_row()" value="Delete Row">
</body>
<script>
function add_row() {
  let num_extra_row = {{extra}} + 1
  window.location.replace("/finances/user={{user.id}}/account={{account.id}}/enter_expense_by_location/extra="+num_extra_row)
}
function delete_row() {
  let num_extra_row = Math.max({{extra}} - 1, 0)
  window.location.replace("/finances/user={{user.id}}/account={{account.id}}/enter_expense_by_location/extra="+num_extra_row)
}
</script>
</html>