{% extends 'finances/master_template.html' %}

{% block header_extra %}
    <Title>Debugging Plots</Title>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block mymessage %}
<div>
  <canvas id="piechart"></canvas>
</div>
<button class="button" id="id_username">Click me</button>
{% endblock %}

{% block jsstuff %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
const ctx = document.getElementById('piechart');
var chartmb = new Chart(ctx, {
    type: 'pie',
  });

$(document).ready(function () {
    // create an AJAX JSON request
    url = "{% url 'plot_monthlybudget_for_user' userpk month year %}";
    console.log(url);
    $.getJSON(url, function(result) {
        chartmb.data = result.data;
        chartmb.options = result.config.options;
        chartmb.update();
        });
    });
</script>
{% endblock %}