{% extends 'finances/master_template.html' %}

{% block header_extra %}
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <Title>Debugging Plots</Title>
{% endblock %}

{% block mymessage %}
<div>
  <canvas id="testchart"></canvas>
</div>
<!--<button class="button" onclick="update_chart();">Click Me</button>-->
{% endblock %}

{% block jsstuff %}
<script>
    const ctx = document.getElementById('testchart');
    var chartmb = new Chart(ctx,
        {
    type: 'scatter'});



$(document).ready(function () {
    // create an AJAX JSON request
    url = "{% url 'plot_totals_acct_cumulative_dt_to_dt' accountpk start_date end_date %}";
    // console.log(url);
    $.getJSON(url, function(result) {
        chartmb.update();
        console.log(url);
        console.log(result);
        console.log(chartmb);
        chartmb.config.options = result.config.options;
        chartmb.config.data = result.data;
        chartmb.update();
        // chartmb.update();
        console.log(chartmb);

        });
    });
</script>
{% endblock %}