{% extends 'finances/master_template.html' %}

{% block header_extra %}
    <title>Create or Update Monthly Budget</title>
{% endblock %}

{% block mymessage %}
{% if month %}
<p>{{user.name}}'s estimated budget values for {{month}}, {{year}}</p>
<table class="table">
  <thead>
    <tr>
      <th>Budget Group</th>
      <th>Estimated Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Statutory (actual)</td>
      <td>{{statutory}}</td>
    </tr>
    <tr>
      <td>Mandatory</td>
      <td>{{est_mand}}</td>
    </tr>
    <tr>
      <td>Mortgage</td>
      <td>{{est_mort}}</td>
    </tr>
    <tr>
      <td>Debts, Goals, Retirement</td>
      <td>{{est_dgr}}</td>
    </tr>
    <tr>
      <td>Discretionary</td>
      <td>{{est_disc}}</td>
    </tr>
  </tbody>
</table>
<p>Takehome pay: {{takehome}}</p>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
{% endblock %}