{% extends 'finances/master_template.html' %}

{% block header_extra %}
    <title>Create a Monthly Budget for {{user.name}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
{% endblock %}

{# TODO: Create a function that grabs estimated values for the selected month and year, current monthly budget expenses (if any) #}
{# TODO: Add the spent expenses for the given month to the table. #}
{% block mymessage %}
<p>{{user.name}}'s estimated budget values (populated after selecting month/year)</p>
<table class="table">
    <thead>
    <th>Gross Income</th>
    <th>Statutory</th>
    <th>Takehome Pay</th>
    </thead>
    <tbody>
    <tr>
        <td id="est_gross_income"> 0.0</td>
        <td id="est_statutory"> 0.0</td>
        <td id="est_takehome"> 0.0</td>
    </tr>
    </tbody>
</table>
<table class="table">
  <thead>
    <tr>
      <th>Budget Group</th>
      <th>Estimated Amount</th>
      <th id="current_for">Current for </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mandatory</td>
      <td id="est_mandatory">0.0</td>
      <td id="current_mandatory">0.0</td>
    </tr>
    <tr>
      <td>Mortgage</td>
      <td id="est_mortgage">0.0</td>
      <td id="current_mortgage">0.0</td>
    </tr>
    <tr>
      <td>Debts, Goals, Retirement</td>
      <td id="est_dgr">0.0</td>
      <td id="current_dgr">0.0</td>
    </tr>
    <tr>
      <td>Discretionary</td>
      <td id="est_disc">0.0</td>
      <td id="current_disc">0.0</td>
    </tr>
    <tr>
      <td>Total</td>
      <td id="est_total">0.0</td>
      <td id="current_total">0.0</td>
    </tr>
  </tbody>
</table>
<table>
    <thead>
    <tr>
        <th>Leftover</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td id="id_leftover">0.0</td>
    </tr>
    </tbody>
</table>
<form method="POST" enctype="multipart/form-data">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
{% endblock %}

{% block jsstuff %}
<script>
    $(document).ready(function () {
        setInterval(function () {
            calculate_difference()
            }, 1000);
        })
    function calculate_difference() {
        // create an AJAX JSON request for monthly budget and actual
        var month_dropdown = document.getElementById("id_date_month");
        var month_text = month_dropdown.options[month_dropdown.selectedIndex].text;
        var year_dropdown = document.getElementById("id_date_year");
        var year_text = year_dropdown.options[year_dropdown.selectedIndex].text;
        current_text = document.getElementById("current_for");
        current_text.innerHTML = "Monthly Budget for " + month_text + " " + year_text;
        var url = "/finances/data/user/{{user.pk}}/monthly_budget/" + month_text + "/" + year_text;
        $.getJSON(url, function(result) {
            document.getElementById("current_mandatory").innerHTML = rounder(result.mandatory, 2);
            document.getElementById("current_mortgage").innerHTML = rounder(result.mortgage, 2);
            document.getElementById("current_dgr").innerHTML = rounder(result.debts_goals_retirement, 2);
            document.getElementById("current_disc").innerHTML = rounder(result.discretionary, 2);
        });
        {#url = "{% url 'data_monthlybudget_by_user_month_year' object.pk month year %}";#}
        {#var takehome = Number(document.getElementById("id_takehome").innerHTML);#}
        {#var mandatory = document.getElementById("id_mandatory").value;#}
        {#var mortgage = document.getElementById("id_mortgage").value;#}
        {#var dgr = document.getElementById("id_debts_goals_retirement").value;#}
        {#var disc = document.getElementById("id_discretionary").value;#}
        {#var leftover = takehome - mandatory - mortgage - dgr - disc;#}
        {#document.getElementById("id_leftover").innerHTML = rounder(leftover, 2)#}
    }
    function rounder (num, places, mode) {
      // (A1) MULTIPLIER
      var mult = parseInt("1" + "0".repeat(places));
      num = num * mult;

      // (A2) ROUND OFF
      if (mode === 1) { num = Math.ceil(num); }
      else if (mode === 0) { num = Math.floor(num); }
      else { num = Math.round(num); }

      // (A3) RETURN RESULTS
      return num / mult;
    }
</script>

{% endblock %}