{% extends 'finances/master_template.html' %}

{% block header_extra %}
    <title>Create Monthly Budget for {{user}}</title>
{% endblock %}

{% block mymessage %}
<p>Statutory: {{statutory}}</p>
<p>Estimated values for {{month}}, {{year}}</p>
<p>Mandatory: {{est_mand}}</p>
<p>Mortgage: {{est_mort}}</p>
<p>Debts, Goals, Retirement: {{est_dgr}}</p>
<p>Discretionary: {{est_disc}}</p>
<form method="POST" enctype="multipart/form-data">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>
{% endblock %}