{% extends 'finances/user_general_template.html' %}

{% block header_extra %}
    <Title>{{object.name}} Overview</Title>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block mymessage %}
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">User</p>
      <p class="title"><a href="/finances/update_user/{{object.pk}}">{{object.name}}</a></p>
    </div>
  </div>
    <div class="level-item has-text-centered">
    <div>
      <p class="heading">Date of birth</p>
      <p class="title">{{object.date_of_birth}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Estimated Retirement Date</p>
      <p class="title">{{estimated_retirement_date}}</p>
    </div>
  </div>
<div class="level-item has-text-centered">
    <div>
      <p class="heading">Withdrawal Rate at Retirement</p>
      <p class="title">{{percent_withdrawal_at_retirement}}</p>
    </div>
  </div>
</nav>
{% endblock %}
