{% extends 'finances/master_template.html' %}

{% block header_extra %}
    <Title>{{object.name}} Overview</Title>
    <!-- Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <!-- Moment for the dates-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block mymessage %}
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">User</p>
      <p class="title"><a href="/finances/update_user/{{object.pk}}">{{object.name}}</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Estimated Retirement Date</p>
      <p class="title">{{object.return_retirement_datetime}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Current Net Worth</p>
      <p class="title">{{net_worth}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Projected Net Worth at Retirement</p>
      <p class="title">{{projected_net_worth}}</p>
    </div>
  </div>
</nav>
{% if tot_statutory_expenses %}
<!-- Expenses -->
<nav class="level is-mobile">
    <div class="level-item has-text-centered">
    <div>
      <p class="heading">Statutory Expenses</p>
      <p class="title">{{tot_statutory_expenses}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Mandatory Expenses</p>
      <p class="title">{{tot_mandatory_expenses}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Mortgage Expenses</p>
      <p class="title">{{tot_mortgage_expenses}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Debts, Goals, Retirement</p>
      <p class="title">{{tot_debts_goals_retirement_expenses}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Discretionary Expenses</p>
      <p class="title">{{tot_discretionary_expenses}}</p>
    </div>
  </div>
</nav>
{% endif %}
<!--Buttons to add and update the user stuff-->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Add</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_checking_account" class="dropdown-item">
          Checking Account
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_debt_account" class="dropdown-item">
          Debt Account
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_retirement_account" class="dropdown-item">
          Retirement Account
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_retirement_account" class="dropdown-item">
          Trading Account
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_income" class="dropdown-item">
          Income
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_expense" class="dropdown-item">
          Expense
        </a>
        </div>
        <div class="dropdown-item">
        {% if month and year %}
        <a href="/finances/user/{{object.pk}}/{{month}}/{{year}}/add_monthly_budget" class="dropdown-item">
        {% else %}
        <a href="/finances/user/{{object.pk}}/add_monthly_budget" class="dropdown-item">
        {% endif %}
          Monthly Budget
        </a>
        </div>
        <div class="dropdown-item">
          <a href="/finances/user/{{object.pk}}/add_work_income" class="dropdown-item">
            Work Income
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>View Existing Items</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/reports" class="dropdown-item">
          Reports
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/monthly_budgets" class="dropdown-item">
          Monthly Budgets
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/accounts" class="dropdown-item">
          Accounts
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/incomes" class="dropdown-item">
          Incomes
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/expenses" class="dropdown-item">
          Expenses
        </a>
        </div>
      </div>
    </div>
</nav>
{% if report_type == 'month' %}
<p class="title"> {{object.name}}'s Report for {{month}}, {{year}}</p>
{% endif %}
{% if report_type == 'year' %}
<p class="title"> {{object.name}}'s Report for {{month}}, {{year}}</p>
{% endif %}

<!--TODO: Columns of budget group, budgeted, spent, and leftovers.-->

<!--TODO: Fix the spacing of these charts-->
<nav class="level">
    <div class="level-item has-text-centered">
    <canvas id="piechart_budget"></canvas>
  </div>
  <div class="level-item">
    <canvas id="piechart_actual"></canvas>
  </div>
</nav>

<!--TODO: Bar charts of budget vs spent-->

<!--TODO: Bar charts of expenses by category, by description, by group-->

<!--TODO: Row of expenses for the month, income for the month-->

<nav class="level is-mobile">
  <div class="level-item">
    <canvas id="linechart_cumulative"></canvas>
  </div>
</nav>
{% endblock %}

{% block jsstuff %}
<script>
const ctx = document.getElementById('linechart_cumulative');
var exp_cum_chart = new Chart(ctx, {
    type: 'line',
  });
const ctx2 = document.getElementById('piechart_budget');
var budget_pie_chart = new Chart(ctx2, {
  type: 'pie',
  });
const ctx3 = document.getElementById('piechart_actual');
var actual_pie_chart = new Chart(ctx3, {
  type: 'pie',
  });

$(document).ready(function () {
    // create an AJAX JSON request for monthly budget and actual
    url = "{% url 'plot_monthlybudget_for_user' object.pk month year %}";
    $.getJSON(url, function(result) {
      budget_pie_chart.data = result.data;
      budget_pie_chart.options = result.config.options;
      budget_pie_chart.update();
      });
    url = "{% url 'plot_expenses_by_budget_group' object.pk month year %}";
    $.getJSON(url, function(result) {
      actual_pie_chart.data = result.data;
      actual_pie_chart.options = result.config.options;
      actual_pie_chart.update();
      });
    url = "{% url 'plot_expenses_cumulative_month_year' object.pk month year %}";
    $.getJSON(url, function(result) {
        exp_cum_chart.data = result.data;
        exp_cum_chart.options = result.config.options;
        exp_cum_chart.update();
        });
    });
</script>
{% endblock %}
