{% extends 'finances/master_template.html' %}

{% block user_navbar %}
<!--Buttons to add and update the user stuff-->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Add</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_checking_account" class="dropdown-item">
          Checking Account
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_debt_account" class="dropdown-item">
          Debt Account
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_retirement_account" class="dropdown-item">
          Retirement Account
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_retirement_account" class="dropdown-item">
          Trading Account
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_deposit" class="dropdown-item">
          Deposit
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_withdrawal" class="dropdown-item">
          Withdrawal
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_statutory" class="dropdown-item">
          Statutory
        </a>
        </div>
        <div class="dropdown-item">
          <a href="/finances/user/{{object.pk}}/transfer_money" class="dropdown-item">
          Transfer
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/add_monthly_budget" class="dropdown-item">
          Monthly Budget
        </a>
        </div>
        <div class="dropdown-item">
          <a href="/finances/user/{{object.pk}}/add_work_income" class="dropdown-item">
            Work Income
          </a>
        </div>
          <div class="dropdown-item">
          <a href="/finances/user/{{object.pk}}/add_withdrawals_by_loc" class="dropdown-item">
            Multiple Expenses for Location
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown is-hoverable">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>View Existing Items</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/reports" class="dropdown-item">
          Reports
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/monthly_budgets" class="dropdown-item">
          Monthly Budgets
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/accounts" class="dropdown-item">
          Accounts
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/incomes" class="dropdown-item">
          Incomes
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/expenses" class="dropdown-item">
          Expenses
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/statutory_entries" class="dropdown-item">
          Statutory
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/transfers" class="dropdown-item">
          Transfers
        </a>
        </div>
        <div class="dropdown-item">
        <a href="/finances/user/{{object.pk}}/lookup_expenses" class="dropdown-item">
          Lookup Expenses
        </a>
        </div>
      </div>
    </div>
  </div>
</nav>
{% endblock %}