{% extends 'finances/master_template.html' %}

{% block header_extra %}
    <Title>Monthly Budgets for {{object.name}}</Title>
{% endblock %}

{% block mymessage %}
<table class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
        </tr>
    </thead>
    <tbody>
        {% for year, month_list in monthly_budgets_year_month.items %}
        <tr>
            <td>{{year}}</td>
            {% for month in month_list %}
              {% if month.pk %}
              <td><a href="/finances/update_monthly_budget/{{month.pk}}">{{month.name}}</a></td>
              {% else %}
              <td><a href="/finances/user/{{object.pk}}/add_monthly_budget">{{month.name}}</a></td>
              {% endif %}
            {% endfor %}
        {% endfor %}
        </tr>
    </tbody>
</table>
{% endblock %}