{% extends 'finances/user_general_template.html' %}

{% block header_extra %}
    <Title>{{object.name}} Financial Report {{ time_message }}</Title>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% block mymessage %}

<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">User</p>
      <p class="title"><a href="/finances/update_user/{{user.pk}}">{{user.name}}</a></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Estimated Retirement Date</p>
      <p class="title">{{user.return_retirement_datetime}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Report Timeline</p>
      <p class="title">{{ report_message }}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Starting Balance</p>
      <p class="title">{{start_balance}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Ending Balance</p>
      <p class="title">{{end_balance}}</p>
    </div>
  </div>
</nav>
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Gross Income</p>
      <p class="title">{{income}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Statutory</p>
      <p class="title">{{stat_total}}</p>
    </div>
  </div>
</nav>
<nav class="level is-mobile">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Mandatory</p>
      <p class="title">{{mand_total}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Mortgage</p>
      <p class="title">{{mort_total}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Debts, Goals, Retiremente</p>
      <p class="title">{{dgr_total}}</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Discretionary</p>
      <p class="title">{{disc_total}}</p>
    </div>
  </div>
</nav>


{% if report_type == 'month' %}
  {% if needs_monthly_budget %}
  <div class="header">
    <a href="/finances/user/{{object.pk}}/{{month}}/{{year}}/view_monthly_budget">Update monthly budget for {{month}}, {{year}}</a>
  </div>
  {% endif %}
<nav class="level">
  <div class="level-item has-text-centered">
    <p class="title"> {{object.name}}'s Report for {{month}}, {{year}}</p>
  </div>
</nav>
{% endif %}
{% if report_type == 'year' %}
<nav class="level">
  <div class="level-item has-text-centered">
    <p class="title"> {{object.name}}'s Report for {{year}}</p>
  </div>
</nav>
{% endif %}

<form method="POST" enctype="multipart/form-data">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Submit">
</form>

{% if report_type == 'month' %}
<nav class="level">
  <div class="tile is-ancestor">
    <div class="tile">
      <table class="table">
        <thead>
        <tr>
          <th>Budget Group</th>
          <th>Budgeted</th>
          <th>Spent</th>
          <th>Left Over</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Statutory</td>
          <td>{{statutory}}</td>
          <td>{{tot_statutory_expenses}}</td>
          <td>{{leftover_statutory}}</td>
        </tr>
        <tr>
          <td>Mandatory</td>
          <td>{{monthly_budget.mandatory}}</td>
          <td>{{tot_mandatory_expenses}}</td>
          <td>{{leftover_mandatory}}</td>
        </tr>
        <tr>
          <td>Mortgage</td>
          <td>{{monthly_budget.mortgage}}</td>
          <td>{{tot_mortgage_expenses}}</td>
          <td>{{leftover_mortgage}}</td>
        </tr>
        <tr>
          <td>Debts, Goals, Retirement</td>
          <td>{{monthly_budget.debts_goals_retirement}}</td>
          <td>{{tot_debts_goals_retirement_expenses}}</td>
          <td>{{leftover_dgr}}</td>
        </tr>
        <tr>
          <td>Discretionary</td>
          <td>{{monthly_budget.discretionary}}</td>
          <td>{{tot_discretionary_expenses}}</td>
          <td>{{leftover_disc}}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="tile">
      <canvas id="barchart_budget_spent"></canvas>
    </div>
  </div>
</nav>

{% endif %}

<nav class="level">
  <div class="tile is-ancestor">
    <div class="tile">
      <canvas id="piechart_budget"></canvas>
    </div>
    <div class="tile">
      <canvas id="piechart_actual"></canvas>
    </div>
  </div>
</nav>

<div class="columns is-centered">
  <div class="column">
    <canvas id="barchart_by_category"></canvas>
  </div>
  <div class="column">
    <canvas id="barchart_by_description"></canvas>
  </div>
  <div class="column">
    <canvas id="barchart_by_location"></canvas>
  </div>
</div>

<nav class="level is-mobile">
  <div class="tile is-ancestor">
    <div class="tile">
      <canvas id="linechart_cumulativeexp"></canvas>
    </div>
    <div class="tile">
      <canvas id="linechart_cumulativeinc"></canvas>
    </div>
  </div>
</nav>

<nav class="level is-mobile">
  <div class="tile is-ancestor">
    <div class="tile">
      <canvas id="linechart_cumulativetot"></canvas>
    </div>
  </div>
</nav>

{% endblock %}

{% block jsstuff %}
  <script>
  const ctx = document.getElementById('linechart_cumulativeexp');
  var exp_cum_chart = new Chart(ctx, {
      type: 'line',
    });
  const ctx2 = document.getElementById('piechart_budget');
  var budget_pie_chart = new Chart(ctx2, {
    type: 'pie',
    });
  const ctx3 = document.getElementById('piechart_actual');
  var actual_pie_chart = new Chart(ctx3, {
    type: 'pie',
    });
  const ctx4 = document.getElementById('barchart_budget_spent');
  var budget_vs_spent_chart = new Chart(ctx4, {
    type: 'bar',
    });
  var ctx5 = document.getElementById('barchart_by_category');
  var top_category_chart = new Chart(ctx5, {
    type: 'bar',
    });
  var ctx6 = document.getElementById('barchart_by_description');
  var top_description_chart = new Chart(ctx6, {
    type: 'bar',
    });
  var ctx7 = document.getElementById('barchart_by_location');
  var top_location_chart = new Chart(ctx7, {
    type: 'bar',
    });
  const ctx8 = document.getElementById('linechart_cumulativeinc');
  var income_cum_chart = new Chart(ctx8, {
    type: 'line',
    });

  const ctx9 = document.getElementById('linechart_cumulativetot');
  var total_cum_chart = new Chart(ctx9, {
    type: 'line',
    });

  {% if create_plots %}
      $(document).ready(function () {
          // create an AJAX JSON request for monthly budget and actual
          url = "{% url 'plot_user_monthlybudget_startdate_enddate' user_pk start_date end_date %}";
          $.getJSON(url, function(result) {
            budget_pie_chart.data = result.data;
            budget_pie_chart.options = result.config.options;
            budget_pie_chart.update();
            });
          url = "{% url 'plot_user_expenses_by_mb_startdate_enddate' user_pk start_date end_date %}";
          $.getJSON(url, function(result) {
            actual_pie_chart.data = result.data;
            actual_pie_chart.options = result.config.options;
            actual_pie_chart.update();
            });
          {#url = "{% url 'plot_bar_budget_vs_spent_month_year' object.pk month year %}";#}
          {#$.getJSON(url, function(result) {#}
          {#  budget_vs_spent_chart.options = result.options;#}
          {#  budget_vs_spent_chart.data = result.data;#}
          {#  budget_vs_spent_chart.update();#}
          {#  });#}
          {#url = "{% url 'plot_top5_by_category' object.pk month year %}";#}
          {#$.getJSON(url, function(result) {#}
          {#    top_category_chart.options = result.options;#}
          {#    top_category_chart.data = result.data;#}
          {#    top_category_chart.update();#}
          {#    });#}
          {#url = "{% url 'plot_top5_by_description' object.pk month year %}";#}
          {#$.getJSON(url, function(result) {#}
          {#    top_description_chart.options = result.options;#}
          {#    top_description_chart.data = result.data;#}
          {#    top_description_chart.update();#}
          {#    });#}
          {#url = "{% url 'plot_top5_by_location' object.pk month year %}";#}
          {#$.getJSON(url, function(result) {#}
          {#    top_location_chart.options = result.options;#}
          {#    top_location_chart.data = result.data;#}
          {#    top_location_chart.update();#}
          {#    });#}
          {#url = "{% url 'plot_expenses_cumulative_month_year' object.pk month year %}";#}
          {#$.getJSON(url, function(result) {#}
          {#    exp_cum_chart.data = result.data;#}
          {#    exp_cum_chart.options = result.config.options;#}
          {#    exp_cum_chart.update();#}
          {#    });#}
          {#url =   "{% url 'plot_incomes_cumulative_month_year' object.pk month year %}";#}
          {#console.log(url);#}
          {#$.getJSON(url, function(result) {#}
          {#    income_cum_chart.config.data = result.data;#}
          {#    income_cum_chart.config.options = result.config.options;#}
          {#    income_cum_chart.update();#}
          {#    });#}
          {#url =   "{% url 'plot_totals_cumulative_month_year' object.pk month year %}";#}
          {#$.getJSON(url, function(result) {#}
          {#    total_cum_chart.data = result.data;#}
          {#    total_cum_chart.options = result.config.options;#}
          {#    total_cum_chart.update();#}
          {#    });#}
          });
      </script>
    {% endif %}
{% endblock %}
